/****** Object:  Database [ZHome]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE DATABASE [ZHome]   WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_transactions]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[monthly_bill_id] [bigint] NOT NULL,
	[tenant_id] [bigint] NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[note] [nvarchar](max) NULL,
 CONSTRAINT [PK_bill_transactions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contracts]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contracts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[room_id] [bigint] NOT NULL,
	[tenant_id] [bigint] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[room_price] [decimal](12, 2) NOT NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorites]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorites](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[room_id] [bigint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[landlord_verifications]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[landlord_verifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[id_card_number] [varchar](20) NOT NULL,
	[id_card_front_url] [varchar](255) NOT NULL,
	[id_card_back_url] [varchar](255) NOT NULL,
	[ownership_document_url] [varchar](255) NOT NULL,
	[status] [varchar](20) NULL,
	[verified_at] [datetime] NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[locations]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locations](
	[id] [int] NOT NULL,
	[parent_id] [int] NULL,
	[name] [nvarchar](100) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[level] [int] NOT NULL,
 CONSTRAINT [PK_locations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[matching_profiles]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[matching_profiles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[student_id] [bigint] NOT NULL,
	[gender] [varchar](10) NOT NULL,
	[budget_min] [decimal](12, 2) NOT NULL,
	[budget_max] [decimal](12, 2) NOT NULL,
	[smoke] [bit] NULL,
	[sleep_late] [bit] NULL,
	[has_pet] [bit] NULL,
	[hometown] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[roommate_gender_preference] [varchar](10) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[title] [nvarchar](255) NULL,
	[university] [nvarchar](150) NULL,
	[has_room] [bit] NOT NULL,
	[address] [nvarchar](255) NULL,
	[contact_phone] [nvarchar](50) NULL,
	[image_url] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monthly_bills]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monthly_bills](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[room_id] [bigint] NOT NULL,
	[billing_month] [int] NOT NULL,
	[billing_year] [int] NOT NULL,
	[room_fee] [decimal](12, 2) NOT NULL,
	[electricity_old_reading] [decimal](10, 2) NULL,
	[electricity_new_reading] [decimal](10, 2) NULL,
	[electricity_fee] [decimal](12, 2) NULL,
	[water_old_reading] [decimal](10, 2) NULL,
	[water_new_reading] [decimal](10, 2) NULL,
	[water_fee] [decimal](12, 2) NULL,
	[service_fee] [decimal](12, 2) NULL,
	[repair_deduction] [decimal](12, 2) NULL,
	[total_amount] [decimal](12, 2) NOT NULL,
	[status] [varchar](20) NULL,
	[paid_at] [datetime] NULL,
	[paid_amount] [decimal](12, 2) NOT NULL,
	[note] [nvarchar](255) NULL,
	[proof_image_url] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[target_url] [nvarchar](255) NULL,
	[reference_id] [bigint] NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[properties]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[properties](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[landlord_id] [bigint] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[address] [nvarchar](255) NOT NULL,
	[latitude] [decimal](10, 8) NULL,
	[longitude] [decimal](11, 8) NULL,
	[is_verified_tick] [bit] NULL,
	[created_at] [datetime] NULL,
	[view_count] [int] NOT NULL,
	[image_url] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reports]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reports](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tenant_id] [bigint] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[contract_id] [bigint] NULL,
	[rating] [int] NULL,
	[landlord_reply] [nvarchar](max) NULL,
	[replied_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room_amenities]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_amenities](
	[room_id] [bigint] NOT NULL,
	[amenity_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC,
	[amenity_name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room_images]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_images](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[room_id] [bigint] NOT NULL,
	[media_url] [varchar](255) NOT NULL,
	[media_type] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[property_id] [bigint] NOT NULL,
	[room_number] [varchar](50) NOT NULL,
	[price] [decimal](12, 2) NOT NULL,
	[area] [decimal](5, 2) NOT NULL,
	[max_occupants] [int] NOT NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_orders]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[provider_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[order_details] [nvarchar](max) NOT NULL,
	[total_price] [decimal](12, 2) NOT NULL,
	[commission_amount] [decimal](12, 2) NOT NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_providers]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_providers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[provider_name] [nvarchar](150) NOT NULL,
	[service_type] [varchar](20) NOT NULL,
	[phone] [varchar](15) NOT NULL,
	[rating] [decimal](3, 2) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subscription_packages]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subscription_packages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[price] [decimal](12, 2) NOT NULL,
	[max_rooms] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tax_configs]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tax_configs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[effective_date] [date] NOT NULL,
	[revenue_threshold] [decimal](12, 2) NOT NULL,
	[vat_rate] [decimal](5, 4) NOT NULL,
	[pit_rate] [decimal](5, 4) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 9/22/2026 6:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[phone] [varchar](15) NOT NULL,
	[email] [varchar](100) NULL,
	[password_hash] [varchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[avatar_url] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[cccd_number] [varchar](20) NULL,
	[cccd_front_url] [varchar](255) NULL,
	[cccd_back_url] [varchar](255) NULL,
	[verification_status] [varchar](20) NULL,
	[subscription_id] [int] NULL,
	[subscription_end_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[contracts] ON 

INSERT [dbo].[contracts] ([id], [room_id], [tenant_id], [start_date], [end_date], [room_price], [status], [created_at]) VALUES (10021, 36, 10025, CAST(N'2026-09-19' AS Date), CAST(N'2027-09-19' AS Date), CAST(2500000.00 AS Decimal(12, 2)), N'Active', CAST(N'2026-09-19T10:23:04.737' AS DateTime))
SET IDENTITY_INSERT [dbo].[contracts] OFF
GO
SET IDENTITY_INSERT [dbo].[landlord_verifications] ON 

INSERT [dbo].[landlord_verifications] ([id], [user_id], [id_card_number], [id_card_front_url], [id_card_back_url], [ownership_document_url], [status], [verified_at], [notes]) VALUES (1, 2, N'037096001234', N'/media/cards/hung_front.png', N'/media/cards/hung_back.png', N'/media/docs/hung_redbook.pdf', N'Approved', CAST(N'2026-06-20T10:31:40.667' AS DateTime), N'Giấy tờ pháp lý đầy đủ và hợp lệ')
INSERT [dbo].[landlord_verifications] ([id], [user_id], [id_card_number], [id_card_front_url], [id_card_back_url], [ownership_document_url], [status], [verified_at], [notes]) VALUES (2, 3, N'037096005678', N'/media/cards/mai_front.png', N'/media/cards/mai_back.png', N'/media/docs/mai_redbook.pdf', N'Pending', NULL, N'Đang đối chiếu thông tin với cơ sở dữ liệu quốc gia')
SET IDENTITY_INSERT [dbo].[landlord_verifications] OFF
GO
INSERT [dbo].[locations] ([id], [parent_id], [name], [type], [level]) VALUES (1, NULL, N'Ba Đình', N'Quận', 2)
INSERT [dbo].[locations] ([id], [parent_id], [name], [type], [level]) VALUES (2, NULL, N'Hoàn Kiếm', N'Quận', 2)
INSERT [dbo].[locations] ([id], [parent_id], [name], [type], [level]) VALUES (3, NULL, N'Tây Hồ', N'Quận', 2)
GO
SET IDENTITY_INSERT [dbo].[matching_profiles] ON 

SET IDENTITY_INSERT [dbo].[matching_profiles] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [user_id], [title], [message], [type], [target_url], [reference_id], [is_read], [created_at]) VALUES (1, 1, N'Yêu cầu xác minh chủ trọ mới', N'Chủ trọ hello (0988773377) vừa gửi hồ sơ xác minh CCCD/chính chủ. Vui lòng kiểm tra và duyệt!', N'LandlordVerification', N'/admin/verifications', 10026, 0, CAST(N'2026-09-22T09:15:03.9791125' AS DateTime2))
INSERT [dbo].[notifications] ([id], [user_id], [title], [message], [type], [target_url], [reference_id], [is_read], [created_at]) VALUES (2, 1, N'Yêu cầu xác minh chủ trọ mới', N'Chủ trọ hi (0773737373) vừa gửi hồ sơ xác minh CCCD/chính chủ. Vui lòng kiểm tra và duyệt!', N'LandlordVerification', N'/admin/verifications', 10027, 0, CAST(N'2026-09-22T09:48:37.3050539' AS DateTime2))
INSERT [dbo].[notifications] ([id], [user_id], [title], [message], [type], [target_url], [reference_id], [is_read], [created_at]) VALUES (3, 1, N'Yêu cầu xác minh chủ trọ mới', N'Chủ trọ hehe (0939393939) vừa gửi hồ sơ xác minh CCCD/chính chủ. Vui lòng kiểm tra và duyệt!', N'LandlordVerification', N'/admin/verifications', 10028, 0, CAST(N'2026-09-22T10:05:38.4189724' AS DateTime2))
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[properties] ON 

INSERT [dbo].[properties] ([id], [landlord_id], [title], [description], [address], [latitude], [longitude], [is_verified_tick], [created_at], [view_count], [image_url]) VALUES (14, 3, N'nhà trọ', N'Tiện nghi khu trọ:
- Wifi
- Vệ sinh trong
- Phòng tắm
- Bình nóng lạnh
- Kệ bếp
- Máy giặt
- Điều hòa
- Tủ lạnh
- Giường nệm
- Tủ áo quần
- Bãi để xe riêng
- Camera an ninh

Môi trường xung quanh:
- Chợ
- Siêu thị
- Trường học
- Bến xe Bus

Liên hệ: Trần Thị Mai - 0712345678 (Zalo: 0712345678)', N'Mỹ Đức, Thành phố Hà Nội', NULL, NULL, 0, CAST(N'2026-09-19T08:34:19.847' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[properties] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [role_name]) VALUES (1, N'Administrator')
INSERT [dbo].[roles] ([id], [role_name]) VALUES (2, N'Landlord')
INSERT [dbo].[roles] ([id], [role_name]) VALUES (3, N'Tenant')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
INSERT [dbo].[room_amenities] ([room_id], [amenity_name]) VALUES (35, N'Bãi để xe riêng')
INSERT [dbo].[room_amenities] ([room_id], [amenity_name]) VALUES (35, N'Bình nóng lạnh')
INSERT [dbo].[room_amenities] ([room_id], [amenity_name]) VALUES (35, N'Camera an ninh')
GO
SET IDENTITY_INSERT [dbo].[room_images] ON 

INSERT [dbo].[room_images] ([id], [room_id], [media_url], [media_type]) VALUES (4, 39, N'/media/properties/room_39_639254040213709497.jpg', N'Image')
INSERT [dbo].[room_images] ([id], [room_id], [media_url], [media_type]) VALUES (5, 39, N'/media/properties/room_39_639254040218546238.jpg', N'Image')
INSERT [dbo].[room_images] ([id], [room_id], [media_url], [media_type]) VALUES (6, 39, N'/media/properties/room_39_639254040218838384.jpg', N'Image')
SET IDENTITY_INSERT [dbo].[room_images] OFF
GO
SET IDENTITY_INSERT [dbo].[rooms] ON 

INSERT [dbo].[rooms] ([id], [property_id], [room_number], [price], [area], [max_occupants], [status]) VALUES (28, 13, N'104', CAST(2500000.00 AS Decimal(12, 2)), CAST(25.00 AS Decimal(5, 2)), 2, N'Available')
INSERT [dbo].[rooms] ([id], [property_id], [room_number], [price], [area], [max_occupants], [status]) VALUES (29, 13, N'105', CAST(2500000.00 AS Decimal(12, 2)), CAST(25.00 AS Decimal(5, 2)), 2, N'Available')
INSERT [dbo].[rooms] ([id], [property_id], [room_number], [price], [area], [max_occupants], [status]) VALUES (30, 13, N'101', CAST(2500000.00 AS Decimal(12, 2)), CAST(25.00 AS Decimal(5, 2)), 2, N'Available')
SET IDENTITY_INSERT [dbo].[rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[service_orders] ON 

INSERT [dbo].[service_orders] ([id], [provider_id], [user_id], [order_details], [total_price], [commission_amount], [status], [created_at]) VALUES (1, 2, 4, N'Đặt 5 bình nước Lavie 19L giao đến phòng 101 khu Hùng Phát', CAST(300000.00 AS Decimal(12, 2)), CAST(30000.00 AS Decimal(12, 2)), N'Completed', CAST(N'2026-06-20T10:31:40.727' AS DateTime))
SET IDENTITY_INSERT [dbo].[service_orders] OFF
GO
SET IDENTITY_INSERT [dbo].[service_providers] ON 

INSERT [dbo].[service_providers] ([id], [provider_name], [service_type], [phone], [rating], [is_active]) VALUES (1, N'Vận Tải Thành Hưng', N'Moving', N'0912222333', CAST(4.85 AS Decimal(3, 2)), 1)
INSERT [dbo].[service_providers] ([id], [provider_name], [service_type], [phone], [rating], [is_active]) VALUES (2, N'Đại Lý Nước Tinh Khiết Lavie Cầu Giấy', N'Water', N'0388889999', CAST(4.90 AS Decimal(3, 2)), 1)
INSERT [dbo].[service_providers] ([id], [provider_name], [service_type], [phone], [rating], [is_active]) VALUES (3, N'Sửa Chữa Điện Lạnh Bách Khoa 24h', N'Maintenance', N'0766667777', CAST(4.50 AS Decimal(3, 2)), 1)
SET IDENTITY_INSERT [dbo].[service_providers] OFF
GO
SET IDENTITY_INSERT [dbo].[subscription_packages] ON 

INSERT [dbo].[subscription_packages] ([id], [name], [price], [max_rooms], [description]) VALUES (1, N'Gói Miễn Phí', CAST(0.00 AS Decimal(12, 2)), 10, N'Dành cho chủ trọ nhỏ lẻ (tối đa 25 phòng)')
INSERT [dbo].[subscription_packages] ([id], [name], [price], [max_rooms], [description]) VALUES (2, N'Gói Cơ Bản', CAST(99000.00 AS Decimal(12, 2)), 50, N'Quản lý quy mô tới 50 phòng')
INSERT [dbo].[subscription_packages] ([id], [name], [price], [max_rooms], [description]) VALUES (3, N'Gói Nâng Cao', CAST(199000.00 AS Decimal(12, 2)), 150, N'Quản lý quy mô tới 150 phòng')
SET IDENTITY_INSERT [dbo].[subscription_packages] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [role_id], [phone], [email], [password_hash], [full_name], [avatar_url], [created_at], [updated_at], [cccd_number], [cccd_front_url], [cccd_back_url], [verification_status], [subscription_id], [subscription_end_date]) VALUES (1, 1, N'0312345678', N'admin@zhome.vn', N'hash_admin_123', N'Z-Home Administrator', N'/media/cards/avatar_0312345678_639239975790992229.jpg', CAST(N'2026-06-20T10:31:40.660' AS DateTime), CAST(N'2026-09-03T01:59:39.100' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[users] ([id], [role_id], [phone], [email], [password_hash], [full_name], [avatar_url], [created_at], [updated_at], [cccd_number], [cccd_front_url], [cccd_back_url], [verification_status], [subscription_id], [subscription_end_date]) VALUES (2, 2, N'0912345678', N'hung.nguyen@gmail.com', N'hash_hung_123', N'Nguyễn Văn Hùng', NULL, CAST(N'2026-06-20T10:31:40.660' AS DateTime), CAST(N'2026-06-20T10:31:40.660' AS DateTime), NULL, NULL, NULL, NULL, 2, CAST(N'2026-10-04T16:48:21.860' AS DateTime))
INSERT [dbo].[users] ([id], [role_id], [phone], [email], [password_hash], [full_name], [avatar_url], [created_at], [updated_at], [cccd_number], [cccd_front_url], [cccd_back_url], [verification_status], [subscription_id], [subscription_end_date]) VALUES (3, 2, N'0712345678', N'mai.tran@gmail.com', N'hash_mai_123', N'Trần Thị Mai', N'/media/cards/avatar_0712345678_639247890058001628.jpg', CAST(N'2026-06-20T10:31:40.660' AS DateTime), CAST(N'2026-09-12T05:50:05.800' AS DateTime), NULL, NULL, NULL, NULL, 3, CAST(N'2026-10-10T05:55:10.630' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [IX_bill_transactions_monthly_bill_id]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_bill_transactions_monthly_bill_id] ON [dbo].[bill_transactions]
(
	[monthly_bill_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bill_transactions_tenant_id]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_bill_transactions_tenant_id] ON [dbo].[bill_transactions]
(
	[tenant_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_contracts_active]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [idx_contracts_active] ON [dbo].[contracts]
(
	[status] ASC,
	[end_date] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_contracts_room]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [idx_contracts_room] ON [dbo].[contracts]
(
	[room_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_contracts_tenant]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [idx_contracts_tenant] ON [dbo].[contracts]
(
	[tenant_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__landlord__B9BE370ED7B77E99]    Script Date: 9/22/2026 6:13:17 PM ******/
ALTER TABLE [dbo].[landlord_verifications] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__matching__2A33069B4828CB90]    Script Date: 9/22/2026 6:13:17 PM ******/
ALTER TABLE [dbo].[matching_profiles] ADD UNIQUE NONCLUSTERED 
(
	[student_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_monthly_bills_contract]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [idx_monthly_bills_contract] ON [dbo].[monthly_bills]
(
	[room_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_monthly_bills_period]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [idx_monthly_bills_period] ON [dbo].[monthly_bills]
(
	[billing_year] ASC,
	[billing_month] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_notifications_is_read]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_notifications_is_read] ON [dbo].[notifications]
(
	[is_read] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_notifications_user_id]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_notifications_user_id] ON [dbo].[notifications]
(
	[user_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_properties_coords]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [idx_properties_coords] ON [dbo].[properties]
(
	[latitude] ASC,
	[longitude] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_properties_landlord]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [idx_properties_landlord] ON [dbo].[properties]
(
	[landlord_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__783254B175A9A4DC]    Script Date: 9/22/2026 6:13:17 PM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Rooms_Property_RoomNumber]    Script Date: 9/22/2026 6:13:17 PM ******/
ALTER TABLE [dbo].[rooms] ADD  CONSTRAINT [UQ_Rooms_Property_RoomNumber] UNIQUE NONCLUSTERED 
(
	[property_id] ASC,
	[room_number] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_rooms_price]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [idx_rooms_price] ON [dbo].[rooms]
(
	[price] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_rooms_property]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [idx_rooms_property] ON [dbo].[rooms]
(
	[property_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_rooms_status]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [idx_rooms_status] ON [dbo].[rooms]
(
	[status] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_service_orders_provider]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [idx_service_orders_provider] ON [dbo].[service_orders]
(
	[provider_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_service_orders_user]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [idx_service_orders_user] ON [dbo].[service_orders]
(
	[user_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__B43B145FD4F50094]    Script Date: 9/22/2026 6:13:17 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_users_role]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE NONCLUSTERED INDEX [idx_users_role] ON [dbo].[users]
(
	[role_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Users_Email]    Script Date: 9/22/2026 6:13:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Users_Email] ON [dbo].[users]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[contracts] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[contracts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[favorites] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[landlord_verifications] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[landlord_verifications] ADD  DEFAULT (NULL) FOR [verified_at]
GO
ALTER TABLE [dbo].[locations] ADD  DEFAULT ((2)) FOR [level]
GO
ALTER TABLE [dbo].[matching_profiles] ADD  DEFAULT ((0)) FOR [budget_min]
GO
ALTER TABLE [dbo].[matching_profiles] ADD  DEFAULT ((0)) FOR [smoke]
GO
ALTER TABLE [dbo].[matching_profiles] ADD  DEFAULT ((0)) FOR [sleep_late]
GO
ALTER TABLE [dbo].[matching_profiles] ADD  DEFAULT ((0)) FOR [has_pet]
GO
ALTER TABLE [dbo].[matching_profiles] ADD  DEFAULT ('Any') FOR [roommate_gender_preference]
GO
ALTER TABLE [dbo].[matching_profiles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[matching_profiles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[matching_profiles] ADD  DEFAULT ((0)) FOR [has_room]
GO
ALTER TABLE [dbo].[monthly_bills] ADD  DEFAULT ((0)) FOR [electricity_old_reading]
GO
ALTER TABLE [dbo].[monthly_bills] ADD  DEFAULT ((0)) FOR [electricity_new_reading]
GO
ALTER TABLE [dbo].[monthly_bills] ADD  DEFAULT ((0)) FOR [electricity_fee]
GO
ALTER TABLE [dbo].[monthly_bills] ADD  DEFAULT ((0)) FOR [water_old_reading]
GO
ALTER TABLE [dbo].[monthly_bills] ADD  DEFAULT ((0)) FOR [water_new_reading]
GO
ALTER TABLE [dbo].[monthly_bills] ADD  DEFAULT ((0)) FOR [water_fee]
GO
ALTER TABLE [dbo].[monthly_bills] ADD  DEFAULT ((0)) FOR [service_fee]
GO
ALTER TABLE [dbo].[monthly_bills] ADD  DEFAULT ((0)) FOR [repair_deduction]
GO
ALTER TABLE [dbo].[monthly_bills] ADD  DEFAULT ('Unpaid') FOR [status]
GO
ALTER TABLE [dbo].[monthly_bills] ADD  DEFAULT (NULL) FOR [paid_at]
GO
ALTER TABLE [dbo].[monthly_bills] ADD  DEFAULT ((0.0)) FOR [paid_amount]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ('System') FOR [type]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[properties] ADD  DEFAULT ((0)) FOR [is_verified_tick]
GO
ALTER TABLE [dbo].[properties] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[properties] ADD  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[reports] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[reports] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[room_images] ADD  DEFAULT ('Image') FOR [media_type]
GO
ALTER TABLE [dbo].[rooms] ADD  DEFAULT ((1)) FOR [max_occupants]
GO
ALTER TABLE [dbo].[rooms] ADD  DEFAULT ('Available') FOR [status]
GO
ALTER TABLE [dbo].[service_orders] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[service_orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_providers] ADD  DEFAULT ((5.0)) FOR [rating]
GO
ALTER TABLE [dbo].[service_providers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [email]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [avatar_url]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_Users_VerificationStatus]  DEFAULT (NULL) FOR [verification_status]
GO
ALTER TABLE [dbo].[bill_transactions]  WITH NOCHECK ADD  CONSTRAINT [FK_bill_transactions_monthly_bills_monthly_bill_id] FOREIGN KEY([monthly_bill_id])
REFERENCES [dbo].[monthly_bills] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bill_transactions] CHECK CONSTRAINT [FK_bill_transactions_monthly_bills_monthly_bill_id]
GO
ALTER TABLE [dbo].[bill_transactions]  WITH NOCHECK ADD  CONSTRAINT [FK_bill_transactions_users_tenant_id] FOREIGN KEY([tenant_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bill_transactions] CHECK CONSTRAINT [FK_bill_transactions_users_tenant_id]
GO
ALTER TABLE [dbo].[contracts]  WITH NOCHECK ADD  CONSTRAINT [FK_Contracts_Rooms] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [FK_Contracts_Rooms]
GO
ALTER TABLE [dbo].[contracts]  WITH NOCHECK ADD  CONSTRAINT [FK_Contracts_Users] FOREIGN KEY([tenant_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [FK_Contracts_Users]
GO
ALTER TABLE [dbo].[favorites]  WITH NOCHECK ADD  CONSTRAINT [FK_favorites_rooms] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [FK_favorites_rooms]
GO
ALTER TABLE [dbo].[favorites]  WITH NOCHECK ADD  CONSTRAINT [FK_favorites_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [FK_favorites_users]
GO
ALTER TABLE [dbo].[landlord_verifications]  WITH NOCHECK ADD  CONSTRAINT [FK_Verifications_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[landlord_verifications] CHECK CONSTRAINT [FK_Verifications_Users]
GO
ALTER TABLE [dbo].[locations]  WITH NOCHECK ADD  CONSTRAINT [FK_locations_parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[locations] ([id])
GO
ALTER TABLE [dbo].[locations] CHECK CONSTRAINT [FK_locations_parent]
GO
ALTER TABLE [dbo].[matching_profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_Profiles_Users] FOREIGN KEY([student_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[matching_profiles] CHECK CONSTRAINT [FK_Profiles_Users]
GO
ALTER TABLE [dbo].[monthly_bills]  WITH NOCHECK ADD  CONSTRAINT [FK_monthly_bills_rooms_room_id] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[monthly_bills] CHECK CONSTRAINT [FK_monthly_bills_rooms_room_id]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_users]
GO
ALTER TABLE [dbo].[properties]  WITH NOCHECK ADD  CONSTRAINT [FK_Properties_Users] FOREIGN KEY([landlord_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[properties] CHECK CONSTRAINT [FK_Properties_Users]
GO
ALTER TABLE [dbo].[reports]  WITH NOCHECK ADD  CONSTRAINT [FK_Reports_Users] FOREIGN KEY([tenant_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reports] CHECK CONSTRAINT [FK_Reports_Users]
GO
ALTER TABLE [dbo].[room_amenities]  WITH NOCHECK ADD  CONSTRAINT [FK_Amenities_Rooms] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[room_amenities] CHECK CONSTRAINT [FK_Amenities_Rooms]
GO
ALTER TABLE [dbo].[room_images]  WITH NOCHECK ADD  CONSTRAINT [FK_Images_Rooms] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[room_images] CHECK CONSTRAINT [FK_Images_Rooms]
GO
ALTER TABLE [dbo].[rooms]  WITH NOCHECK ADD  CONSTRAINT [FK_Rooms_Properties] FOREIGN KEY([property_id])
REFERENCES [dbo].[properties] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rooms] CHECK CONSTRAINT [FK_Rooms_Properties]
GO
ALTER TABLE [dbo].[service_orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_Providers] FOREIGN KEY([provider_id])
REFERENCES [dbo].[service_providers] ([id])
GO
ALTER TABLE [dbo].[service_orders] CHECK CONSTRAINT [FK_Orders_Providers]
GO
ALTER TABLE [dbo].[service_orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[service_orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[users]  WITH NOCHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[users]  WITH NOCHECK ADD  CONSTRAINT [FK_Users_Subscriptions] FOREIGN KEY([subscription_id])
REFERENCES [dbo].[subscription_packages] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_Users_Subscriptions]
GO
ALTER TABLE [dbo].[contracts]  WITH NOCHECK ADD  CONSTRAINT [chk_contract_dates] CHECK  (([end_date]>[start_date]))
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [chk_contract_dates]
GO
ALTER TABLE [dbo].[contracts]  WITH NOCHECK ADD  CONSTRAINT [chk_contract_price] CHECK  (([room_price]>=(0)))
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [chk_contract_price]
GO
ALTER TABLE [dbo].[contracts]  WITH NOCHECK ADD  CONSTRAINT [chk_contract_status] CHECK  (([status]='Terminated' OR [status]='Expired' OR [status]='Active'))
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [chk_contract_status]
GO
ALTER TABLE [dbo].[landlord_verifications]  WITH NOCHECK ADD  CONSTRAINT [chk_id_card_number] CHECK  (((len([id_card_number])=(12) OR len([id_card_number])=(9)) AND NOT [id_card_number] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[landlord_verifications] CHECK CONSTRAINT [chk_id_card_number]
GO
ALTER TABLE [dbo].[landlord_verifications]  WITH NOCHECK ADD  CONSTRAINT [chk_verification_status] CHECK  (([status]='Rejected' OR [status]='Approved' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[landlord_verifications] CHECK CONSTRAINT [chk_verification_status]
GO
ALTER TABLE [dbo].[matching_profiles]  WITH NOCHECK ADD  CONSTRAINT [chk_budget_min] CHECK  (([budget_min]>=(0)))
GO
ALTER TABLE [dbo].[matching_profiles] CHECK CONSTRAINT [chk_budget_min]
GO
ALTER TABLE [dbo].[matching_profiles]  WITH NOCHECK ADD  CONSTRAINT [chk_budget_range] CHECK  (([budget_max]>=[budget_min]))
GO
ALTER TABLE [dbo].[matching_profiles] CHECK CONSTRAINT [chk_budget_range]
GO
ALTER TABLE [dbo].[matching_profiles]  WITH NOCHECK ADD  CONSTRAINT [chk_profile_gender] CHECK  (([gender]='Other' OR [gender]='Female' OR [gender]='Male'))
GO
ALTER TABLE [dbo].[matching_profiles] CHECK CONSTRAINT [chk_profile_gender]
GO
ALTER TABLE [dbo].[matching_profiles]  WITH NOCHECK ADD  CONSTRAINT [chk_profile_roommate_pref] CHECK  (([roommate_gender_preference]='Any' OR [roommate_gender_preference]='Other' OR [roommate_gender_preference]='Female' OR [roommate_gender_preference]='Male'))
GO
ALTER TABLE [dbo].[matching_profiles] CHECK CONSTRAINT [chk_profile_roommate_pref]
GO
ALTER TABLE [dbo].[monthly_bills]  WITH CHECK ADD  CONSTRAINT [chk_bill_status] CHECK  (([status]='Rejected' OR [status]='PartialPaid' OR [status]='PendingConfirmation' OR [status]='Partial' OR [status]='Unpaid' OR [status]='Paid'))
GO
ALTER TABLE [dbo].[monthly_bills] CHECK CONSTRAINT [chk_bill_status]
GO
ALTER TABLE [dbo].[monthly_bills]  WITH NOCHECK ADD  CONSTRAINT [chk_billing_month] CHECK  (([billing_month]>=(1) AND [billing_month]<=(12)))
GO
ALTER TABLE [dbo].[monthly_bills] CHECK CONSTRAINT [chk_billing_month]
GO
ALTER TABLE [dbo].[monthly_bills]  WITH NOCHECK ADD  CONSTRAINT [chk_billing_year] CHECK  (([billing_year]>=(2020)))
GO
ALTER TABLE [dbo].[monthly_bills] CHECK CONSTRAINT [chk_billing_year]
GO
ALTER TABLE [dbo].[monthly_bills]  WITH NOCHECK ADD  CONSTRAINT [chk_electricity_fee] CHECK  (([electricity_fee]>=(0)))
GO
ALTER TABLE [dbo].[monthly_bills] CHECK CONSTRAINT [chk_electricity_fee]
GO
ALTER TABLE [dbo].[monthly_bills]  WITH NOCHECK ADD  CONSTRAINT [chk_electricity_readings] CHECK  (([electricity_new_reading]>=[electricity_old_reading]))
GO
ALTER TABLE [dbo].[monthly_bills] CHECK CONSTRAINT [chk_electricity_readings]
GO
ALTER TABLE [dbo].[monthly_bills]  WITH NOCHECK ADD  CONSTRAINT [chk_repair_deduction] CHECK  (([repair_deduction]>=(0)))
GO
ALTER TABLE [dbo].[monthly_bills] CHECK CONSTRAINT [chk_repair_deduction]
GO
ALTER TABLE [dbo].[monthly_bills]  WITH NOCHECK ADD  CONSTRAINT [chk_room_fee] CHECK  (([room_fee]>=(0)))
GO
ALTER TABLE [dbo].[monthly_bills] CHECK CONSTRAINT [chk_room_fee]
GO
ALTER TABLE [dbo].[monthly_bills]  WITH NOCHECK ADD  CONSTRAINT [chk_service_fee] CHECK  (([service_fee]>=(0)))
GO
ALTER TABLE [dbo].[monthly_bills] CHECK CONSTRAINT [chk_service_fee]
GO
ALTER TABLE [dbo].[monthly_bills]  WITH NOCHECK ADD  CONSTRAINT [chk_total_amount] CHECK  (([total_amount]>=(0)))
GO
ALTER TABLE [dbo].[monthly_bills] CHECK CONSTRAINT [chk_total_amount]
GO
ALTER TABLE [dbo].[monthly_bills]  WITH NOCHECK ADD  CONSTRAINT [chk_water_fee] CHECK  (([water_fee]>=(0)))
GO
ALTER TABLE [dbo].[monthly_bills] CHECK CONSTRAINT [chk_water_fee]
GO
ALTER TABLE [dbo].[monthly_bills]  WITH NOCHECK ADD  CONSTRAINT [chk_water_readings] CHECK  (([water_new_reading]>=[water_old_reading]))
GO
ALTER TABLE [dbo].[monthly_bills] CHECK CONSTRAINT [chk_water_readings]
GO
ALTER TABLE [dbo].[properties]  WITH NOCHECK ADD  CONSTRAINT [chk_property_latitude] CHECK  (([latitude]>=(-90.00000000) AND [latitude]<=(90.00000000)))
GO
ALTER TABLE [dbo].[properties] CHECK CONSTRAINT [chk_property_latitude]
GO
ALTER TABLE [dbo].[properties]  WITH NOCHECK ADD  CONSTRAINT [chk_property_longitude] CHECK  (([longitude]>=(-180.00000000) AND [longitude]<=(180.00000000)))
GO
ALTER TABLE [dbo].[properties] CHECK CONSTRAINT [chk_property_longitude]
GO
ALTER TABLE [dbo].[room_images]  WITH NOCHECK ADD  CONSTRAINT [chk_media_type] CHECK  (([media_type]='VR360' OR [media_type]='Video' OR [media_type]='Image'))
GO
ALTER TABLE [dbo].[room_images] CHECK CONSTRAINT [chk_media_type]
GO
ALTER TABLE [dbo].[rooms]  WITH NOCHECK ADD  CONSTRAINT [chk_max_occupants] CHECK  (([max_occupants]>=(1)))
GO
ALTER TABLE [dbo].[rooms] CHECK CONSTRAINT [chk_max_occupants]
GO
ALTER TABLE [dbo].[rooms]  WITH NOCHECK ADD  CONSTRAINT [chk_room_area] CHECK  (([area]>(0)))
GO
ALTER TABLE [dbo].[rooms] CHECK CONSTRAINT [chk_room_area]
GO
ALTER TABLE [dbo].[rooms]  WITH NOCHECK ADD  CONSTRAINT [chk_room_price] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[rooms] CHECK CONSTRAINT [chk_room_price]
GO
ALTER TABLE [dbo].[rooms]  WITH NOCHECK ADD  CONSTRAINT [chk_room_status] CHECK  (([status]='Maintenance' OR [status]='Rented' OR [status]='Available'))
GO
ALTER TABLE [dbo].[rooms] CHECK CONSTRAINT [chk_room_status]
GO
ALTER TABLE [dbo].[service_orders]  WITH NOCHECK ADD  CONSTRAINT [chk_commission_logic] CHECK  (([total_price]>=[commission_amount]))
GO
ALTER TABLE [dbo].[service_orders] CHECK CONSTRAINT [chk_commission_logic]
GO
ALTER TABLE [dbo].[service_orders]  WITH NOCHECK ADD  CONSTRAINT [chk_order_commission] CHECK  (([commission_amount]>=(0)))
GO
ALTER TABLE [dbo].[service_orders] CHECK CONSTRAINT [chk_order_commission]
GO
ALTER TABLE [dbo].[service_orders]  WITH NOCHECK ADD  CONSTRAINT [chk_order_price] CHECK  (([total_price]>=(0)))
GO
ALTER TABLE [dbo].[service_orders] CHECK CONSTRAINT [chk_order_price]
GO
ALTER TABLE [dbo].[service_orders]  WITH NOCHECK ADD  CONSTRAINT [chk_order_status] CHECK  (([status]='Cancelled' OR [status]='Completed' OR [status]='Accepted' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[service_orders] CHECK CONSTRAINT [chk_order_status]
GO
ALTER TABLE [dbo].[service_providers]  WITH NOCHECK ADD  CONSTRAINT [chk_provider_phone] CHECK  (([phone] like '0[35789][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[service_providers] CHECK CONSTRAINT [chk_provider_phone]
GO
ALTER TABLE [dbo].[service_providers]  WITH NOCHECK ADD  CONSTRAINT [chk_provider_rating] CHECK  (([rating]>=(0.00) AND [rating]<=(5.00)))
GO
ALTER TABLE [dbo].[service_providers] CHECK CONSTRAINT [chk_provider_rating]
GO
ALTER TABLE [dbo].[service_providers]  WITH NOCHECK ADD  CONSTRAINT [chk_provider_service_type] CHECK  (([service_type]='Maintenance' OR [service_type]='Water' OR [service_type]='Moving'))
GO
ALTER TABLE [dbo].[service_providers] CHECK CONSTRAINT [chk_provider_service_type]
GO
ALTER TABLE [dbo].[tax_configs]  WITH NOCHECK ADD  CONSTRAINT [chk_pit_rate] CHECK  (([pit_rate]>=(0.0000) AND [pit_rate]<=(1.0000)))
GO
ALTER TABLE [dbo].[tax_configs] CHECK CONSTRAINT [chk_pit_rate]
GO
ALTER TABLE [dbo].[tax_configs]  WITH NOCHECK ADD  CONSTRAINT [chk_revenue_threshold] CHECK  (([revenue_threshold]>=(0)))
GO
ALTER TABLE [dbo].[tax_configs] CHECK CONSTRAINT [chk_revenue_threshold]
GO
ALTER TABLE [dbo].[tax_configs]  WITH NOCHECK ADD  CONSTRAINT [chk_vat_rate] CHECK  (([vat_rate]>=(0.0000) AND [vat_rate]<=(1.0000)))
GO
ALTER TABLE [dbo].[tax_configs] CHECK CONSTRAINT [chk_vat_rate]
GO
ALTER TABLE [dbo].[users]  WITH NOCHECK ADD  CONSTRAINT [chk_user_phone] CHECK  (([phone] like '0[35789][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [chk_user_phone]
GO

